<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">

  <!-- Online Form -->
  <h2 style="text-align: center;">Online Staff Request Form</h2>
  <p>Please fill out the following information.</p>

  <form>

    <app-date></app-date>

    <app-job-title></app-job-title>

    <app-department></app-department>

    <app-hiring-manager-name></app-hiring-manager-name>

    <app-hiring-manager-email></app-hiring-manager-email>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </form>

</div>