<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">

  <!-- Online Form -->
  <h2 style="text-align: center;">Online Staff Request Form</h2>
  <p>Please fill out the following information.</p>

  <form [formGroup]="staffRequest">

    <app-date [staffRequest]="staffRequest"></app-date>

    <app-job-title [staffRequest]="staffRequest"></app-job-title>

    <app-department [staffRequest]="staffRequest"></app-department>

    <app-hiring-manager-name [staffRequest]="staffRequest"></app-hiring-manager-name>

    <app-hiring-manager-email [staffRequest]="staffRequest"></app-hiring-manager-email>

    <div class="spacer"></div>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    <app-table 
      [userDataArray]="userDataArray">
    </app-table>
  </form>
  
</div>